@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}
@* 
<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
              
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
 *@<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5  ">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Confrimation Email</h1>
                                    </div>

                                    <section>
                                        <form  method="post" class="user">
                                            <div class="form-group">
                                                <input asp-for="Input.Email" class="form-control form-control-user" aria-required="true" placeholder="name@example.com" />
                                                <label asp-for="Input.Email" class="form-label"></label>
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                   
                                            <button type="submit" class="btn btn-primary btn-user btn-block">Resend Email </button>
                                           

                                        </form>
                                    </section>
                                    <hr>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    @section scripts {
        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>
        <partial name="_ValidationScriptsPartial" />

    }

</body>