@{
    ViewData["Title"] = "Home Page";
}
 @inject Infrastructure.Services.LanguageServices LanguageServices
@await Component.InvokeAsync("Inventory")

@using Microsoft.AspNetCore.Mvc.Localization


<h1>@LanguageServices.GetKey("Welcome").Value</h1>
<h1>@LanguageServices.GetKey("Record").Value</h1>
<h1>@LanguageServices.GetKey("My Name is" ).Value Usama</h1>

